/* */
.bi-instagram { 
    width: 20px;
    height: 100%;
}
.bi-gear-fill{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}
.nav-tabs {
    padding-top: 1rem;
}
.card-body {
    padding: 0px;
}
.card-title { 
    text-align: left;
    float: left;
}
.date {
    text-align: right;
    float: right;
}
img { 
    width: 450px;
    height: 300px;
    object-fit: cover; 
}
.card-text {
    text-align: start;
    margin-left: 0.3rem;
}
.form-group {
    padding-bottom: 1rem;
}